<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Interviews</h2>
      <a href="/api/placementcell/interview/add" class="btn btn-primary mb-3"
        >Add New Interview</a
      >
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company</th>
            <th>Date</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          <% interviews.forEach(interview => { %>
          <tr>
            <td><%= interview.company %></td>
            <td><%= new Date(interview.date).toLocaleDateString() %></td>
            <td>
              <ul>
                <% interview.students.forEach(s => { %>
                <li><%= s.student.name %> - <%= s.result %></li>
                <% }) %>
              </ul>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
